.site {
  display: grid;
  /* gap: 1em; */
  grid-template-areas:
    "title"
    "masthead"
    "main"
    "sidebar"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 3fr;

  @media screen and (min-width: 600px) {
    grid-template-areas:
      "title title title"
      "main masthead masthead"
      "main sidebar sidebar"
      "footer footer footer";
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: auto 1fr 3fr;
  }
}

.masthead {
  grid-area: masthead;
}

.page-title {
  grid-area: title;
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.footer-content {
  grid-area: footer;
}
