body {
  margin: 0;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

.site {
  margin: 0 auto;
  max-width: 50em;
}

@media screen and (min-width: 800px) {
  .site {
    max-width: none;
  }

  .main-area > *,
  .credits {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .feature-content,
  .related,
  .interrupt-content,
  .credits aside {
    grid-column: 2/4;
  }

  .twin {
    grid-column: span 2;
  }

  .related {
    display: flex;
    gap: 1em;
    justify-content: space-around;
  }

  .related article {
    flex: 1;
  }
}

/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/

/* Logo */
.logo {
  margin: 0 auto;
  width: 200px;
}

/* Primary navigation */
.primary-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      a {
        background: yellow;
        color: #000;
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;

        &:hover {
          background-color: hsla(30, 61%, 61%, 0.9);
          transition: 0.2ms ease-in-out;
        }
      }
    }
  }
}

/* Feature */
.feature {
  background-color: #f4e4d1;
  padding: 5em 1em;
}

/* Related articles */
.related-articles {
  background-color: #333;
  padding: 1em;

  .related article {
    background-color: #fff;
    padding: 1em;
  }
}

/* Interrupt */
.interrupt-content {
  padding: 5em 1em;
}

/* Twins */
.twin {
  padding: 2em 1em;

  &:first-of-type {
    background-color: #f9684d;
  }

  &:last-of-type {
    background-color: #06baf0;
  }
}

/* Credits */
.credits {
  background-color: #4c5b5c;
  color: #fff;
  padding: 2em 1em;
  text-align: center;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}
